@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>TITLE</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/site.css">
</head>
<body>
    <h1>TestApp by Arkadashim</h1>
</body>
</html>